/*------------------------------------
  Paginations
------------------------------------*/
/* Pagination v1 */
[class*="u-pagination-v1__item"] {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.u-pagination-v1__item {
  display: inline-block;
  text-align: center;
  text-decoration: none; }
  .u-pagination-v1__item--active, .u-pagination-v1__item:hover, .u-pagination-v1__item:focus {
    text-decoration: none;
    cursor: pointer; }
  .u-pagination-v1__item--skip:hover, .u-pagination-v1__item--skip:focus {
    cursor: default; }
  .u-pagination-v1__item--info:hover, .u-pagination-v1__item--info:focus {
    cursor: text; }
  .u-pagination-v1__item--disabled {
    opacity: .5;
    pointer-events: none; }
