//
// Variables and Mixins
//
@import "variables.op-architecture";
@import "../include/scss/unify";

/* Typography */
p {
  line-height: 1.5em;
}


/* Hamburger */
.hamburger {
  padding: 0;
}

.hamburger-box,
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  width: 25px;
}
label{
  &.font_700{font-weight: 700}
}
.u-slider-v1.ui-slider{margin-left: 0px;}
.wrap-check{
  span:nth-child(1){
    display: inline-block;min-width: 230px;font-weight: 700;
  }
}
.img-responsive{max-width: 100%;}
.form-text-span{
  &.min-width-136{
    p{
      span:nth-child(1){
        min-width: 120px;display: inline-block;
      }
    }
  }
  p{
    span:nth-child(1){
      min-width: 230px;display: inline-block;font-weight: 700;
    }
    &.space{
      input{
        margin-right: 30px;
      }
    }
  }
}
.list-style-decimal{padding-left: 20px;}
.list-style-decimal li{
  list-style-type: decimal;
}
.g-bg-blue-new{background-color: #084a77!important;}
h3.back-step{
  background: #f9f9f9;
  padding: 8px 12px;
  border: 1px solid #eee;
}
.row.space-0{
  margin-left: 0px;margin-right: 0px;
}
.js-counter{
  &.before-phantram{
    display: inline-block;width: auto;
    &:after{
      content: "%";margin-left: 5px;
    }
  }
}
.row{
  &.col-sm-padding-0{
    margin-left: 0px;margin-right: 0px;margin-bottom: 10px;
    .col-sm-6{
      padding-right: 5px;padding-left: 5px;
    }
  }
}
.form-control.auto-noborder{
  border-right: none;border-left:none ;border-top: none;padding-top: 0px;padding-bottom: 1px;vertical-align: 2px;width: auto;display: inline-block;
  &.w-50px{
    width: 50px;text-align: center;
  }
  &.w-100px{
    width: 100px;text-align: center;
  }
  &.w-200px{
    width: 300px;text-align: left;
  }
}
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  .dark-theme & {
    background-color: $g-color-white;
  }

  .hamburger-box:hover & {
    background-color: $g-color-primary;
  }
}

.hamburger-box {
  height: 17px;
}

.hamburger--slider .hamburger-inner {
  top: 0;
}

.hamburger--slider .hamburger-inner:before {
  top: 9px;
}

.hamburger--slider .hamburger-inner:after {
  top: 17px;
}

.hamburger--slider.is-active .hamburger-inner:after {
  transform: translate3d(0, -17px, 0) rotate(-90deg);
}

/* Main navigation */
.dark-theme {
  .nav-item {
    .nav-link {
      color: $g-color-white;

      &:hover {
        color: $g-color-primary;
      }
    }

    &.active {
      .nav-link {
        color: $g-color-primary;
      }
    }
  }
}

.light-theme {
  .nav-item {
    .nav-link {
      color: $g-theme-color-blue-dark-v1;

      &:hover {
        color: $g-color-primary;
      }
    }

    &.active {
      .nav-link {
        color: $g-color-primary;
      }
    }
  }
}

/* Colors */
.g-theme-color-gray-dark-v3 {
  color: $g-theme-color-gray-dark-v3 !important;
}

/* Background */
.g-theme-bg-gray-light-v2 {
  background-color: $g-theme-color-gray-light-v2 !important;
}

.g-theme-bg-blue-dark-v1 {
  background-color: $g-theme-color-blue-dark-v1 !important;

  &-opacity {
    &-0_8 {
      background-color: rgba($g-theme-color-blue-dark-v1, .8) !important;

      &--after::after {
        background-color: rgba($g-theme-color-blue-dark-v1, .8) !important;
      }
    }
  }

  &--hover:hover {
    background-color: $g-theme-color-blue-dark-v1 !important;
  }
}

.g-theme-bg-blue-dark-v2 {
  background-color: $g-theme-color-blue-dark-v2 !important;
}

.g-theme-bg-blue-dark-v3 {
  background-color: $g-theme-color-blue-dark-v3 !important;
}

.g-theme-bg-blue-dark-v4 {
  background-color: $g-theme-color-blue-dark-v4 !important;
}

.g-parent:hover {
  .g-theme-bg-blue-dark-v1--parent-hover {
    background-color: $g-theme-color-blue-dark-v1 !important;
  }
}

/* Borders */
.g-theme-brd-blue-dark-v5 {
  border-color: $g-theme-color-blue-dark-v5 !important;
}

/* Box shadows */
.u-theme-shadow-v1 {
  box-shadow: 0 0 3px $g-theme-color-gray-light-v1;
}

/* Headings */
.u-heading-v2-4--bottom::after {
  @include px-to-rem("margin-top", 40px);
}

/* Carousels */
.u-carousel-indicators-v1 span {
  width: 8px;
  height: 8px;
  background-color: $g-theme-color-gray-light-v3;
}

.u-carousel-indicators-v1 li {
  margin-left: 4px;
  margin-right: 4px;
}
.text-justify{text-align: justify;
  &.check p{
    &:before{content: "\f00c";
      font: normal normal normal 18px/1 FontAwesome;
      color: #f7941d;
      margin-right: 6px;}
  }
}
.container{
  &.after{
    position: relative;
    &:after{
      position: absolute;content: "";left: 15px;right: 15px;height: 1px;background: #383838;bottom: -15px;
    }
    &.color-blue{
      &:after{
        background: #0f314e;
      }
    }
  }
}

.settled.ops1 .box-settled {
  background: #fff;
}

.settled.ops1 .box-settled:hover .settled_images .item_image {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.settled.ops1 .box-settled:hover .settled_images .item_image::before {
  background: rgba(22, 36, 76, 0.76);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.settled.ops1 .box-settled .conten_settled {
  height: 100%;
  text-align: center;
}

.settled.ops1 .box-settled .conten_settled .title {
  text-transform: uppercase;
}

.settled.ops1 .box-settled .conten_settled .list ul {
  list-style: none;
  padding-left: 0;
}

.settled.ops1 .box-settled .conten_settled .list ul li {
  border-bottom: 1px solid #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.settled.ops1 .box-settled .conten_settled .list ul li a {
  color: #333333;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
}

.settled.ops1 .box-settled .settled_images {
  height: 350px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.settled.ops1 .box-settled .settled_images .item_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.settled.ops1 .box-settled .settled_images .item_image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.settled.ops1 .box-settled .settled_images .title {
  position: absolute;
  bottom: 0;
  font-size: 3rem;
  font-weight: bold;
  left: 10px;
  text-transform: uppercase;
  color: #fff;
}

.settled.ops2 .box-settled .list-settled {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 450px;
  background: #fff;
  margin-bottom: 0;
  overflow: hidden;
}

.settled.ops2 .box-settled .list-settled li.hover_img {
  width: calc(100% / 3);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  position: relative;
}

.settled.ops2 .box-settled .list-settled li.hover_img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.settled.ops2 .box-settled .list-settled li.hover_img:hover {
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
  width: calc(100%/1);
}

.settled.ops2 .box-settled .list-settled li.hover_img:hover::before {
  background: rgba(22, 36, 76, 0.59);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.settled.ops2 .box-settled .list-settled li.hover_img:hover .conten_settled {
  display: block;
  bottom: 0;
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
}

.settled.ops2 .box-settled .list-settled li.hover_img:hover .title-settled {
  color: rgba(204, 204, 204, 0.44);
}

.settled.ops2 .box-settled .list-settled li.hover_img .conten_settled {
  padding-top: 30px;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  bottom: -900px;
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
  width: 100%;
  max-width: 500px;
  left: calc(50% - 10px);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0px 10px;
  overflow-y: auto;
}
.settled.ops2 .box-settled.box_notsroll .list-settled li.hover_img .conten_settled {
  overflow-y: hidden;
}

.settled.ops2 .box-settled .list-settled li.hover_img .conten_settled::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: transparent; }
.settled.ops2 .box-settled .list-settled li.hover_img .conten_settled::-webkit-scrollbar {
  width: 5px;
  background-color: transparent; }
.settled.ops2 .box-settled .list-settled li.hover_img .conten_settled::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1b284f; }
.settled.ops2 .box-settled .list-settled li.hover_img .conten_settled .title {
  color: #fff;
  margin-bottom: 8px;
}

.settled.ops2 .box-settled .list-settled li.hover_img .conten_settled .list {
  height: 290px;
  overflow: hidden;
}

.settled.ops2 .box-settled .list-settled li.hover_img .conten_settled .list ul {
  list-style: none;
}

.settled.ops2 .box-settled .list-settled li.hover_img .conten_settled .list ul li {
  padding: 10px 0px;
  border-bottom: 1px dashed #fff;
}

.settled.ops2 .box-settled .list-settled li.hover_img .conten_settled .list ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.settled.ops2 .box-settled .list-settled li.hover_img:nth-child(1) .title-settled {
  left: -60px;
}

.settled.ops2 .box-settled .list-settled li.hover_img:nth-child(2) .title-settled {
  left: -60px;
}

.settled.ops2 .box-settled .list-settled li.hover_img:nth-child(3) .title-settled {
  left: -60px;
}

.settled.ops2 .box-settled .list-settled li.hover_img .title-settled {
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  bottom: 160px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: auto;
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
}
.u-carousel-indicators-v1 li.slick-active span {
  background-color: $g-color-primary;
}

.u-carousel-indicators-dark span {
  background-color: $g-color-black;
}
.btn.btn-md.btn-faster{color: #fff;padding:0 42px 0 17px !important;height: 30px;line-height: 28px;background: rgb(47, 199, 247);font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;font-size: 12px;font-weight: 700;background: url(../img/sprite-1x.png) no-repeat right 0  rgb(47, 199, 247);}
.g-bg-black-footer{background-color: #0c0c0c !important;}
/* Tabs */
[class*="u-nav-v8"] {
  .nav-link {
    background-color: #30303b;

    &::after {
      background: {
        image: linear-gradient(to left, #30303b 0%, #2d2d37 100%);
        repeat: repeat-y;
      }
    }

    &::before {
      background-image: linear-gradient(to bottom left, transparent 49.6%, #30303b 50%), linear-gradient(to top left, transparent 49.6%, #30303b 50%);
    }

    .u-nav-v8__icon {
      background-color: #30303b;
    }

    &.active,
    &.active .u-nav-v8__icon {
      background-color: $g-color-primary;
    }

    @media (min-width: $g-md) {
      &.active::before {
        background-image: linear-gradient(to bottom left, transparent 49.6%, $g-color-primary 50%), linear-gradient(to top left, transparent 49.6%, $g-color-primary 50%);
      }
    }
  }
}

/* Custom */
.u-promo-title::after {
  @include px-to-rem("width", 168px);
}
@media (max-width: 767px){
  .settled.ops2 .box-settled .list-settled li.hover_img{
    min-height:400px;display: inline-block;width: 100%;float: left;
  }
  .settled.ops2 .box-settled .list-settled{
    display: inline-block;width: 100%;float: left;height: auto;
  }
}
.navbar-toggler:not(:disabled):not(.disabled){
  margin-top: 20px;
}
button.g-hidden-md-up.d-block.btn.btn-xs.u-btn-primary.g-brd-none.g-line-height-1.mx-auto{display: none !important;}
@media (max-width: 767px) {
  ul#dropdown-megamenu.collapse{display: inline-block;width: 100%;text-align: center}
  ul#dropdown-megamenu.collapse li{display: inline-block !important;width: auto;width: auto;
    margin-bottom: 10px;}
}
