/* Add here all your css styles (customizations) */
body {color: #747d88;}
.event-country:hover,
.event-program:hover {
    cursor: pointer
}

.event-program {
    position: relative
}

.event-program .event-program-wrap {
    padding: 10px;
    position: relative;
    background: none no-repeat center center static;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.event-program .event-program-wrap:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0
}

.event-program .event-program-wrap article {
    z-index: 1
}

.event-program li {
    font-size: 13px
}

.event-program-checked:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 3px solid #ffa500
}

.event-program-checked .g-color-white {
    color: #20ff20 !important
}

.event-program-unlock {
    display: block
}

.event-program-unlock:hover {
    cursor: pointer !important;
    pointer-events: auto !important;
}

.input-tuvan-pass,
.input-tuvan-pass .g-color-primary {
    color: #20ff20 !important
}

.form-input-hide {
    display: none
}

.form-input-show {
    display: block !important
}

#section-chuongtrinh {
    overflow: hidden
}

#section-chuongtrinh .list ul {
    padding: 0
}

h2.title-settled {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.h3-related {
    font-size: 22px !important
}

.post-content img {
    max-width: 100%;
    height: auto !important
}

.settled.ops2 .box-settled .list-settled-mobile li.hover_img::before {
    background: rgba(22, 36, 76, 0.59)
}

.settled.ops2 .box-settled .list-settled-mobile li.hover_img .title-settled {
    display: none
}

.settled.ops2 .box-settled .list-settled-mobile li.hover_img .conten_settled {
    bottom: 0
}

.evaluate {
    color: #f7941d !important;
}

.custom-evaluate {
    margin-top: 0 !important;
}

.divider {
    border: 1px solid #919191;
}

.container-top-home {
    margin-top: -90px;
    position: relative;
}

@media (min-width: 992px) {
    .evaluate {
        padding-top: 10px;
    }
    .benefit-list {
        position: absolute;
        width: 100%;
    }
    .g-pl-custom-100 {
        padding-left: 7.14286rem!important;
    }
    .g-px-custom-100 {
        padding-left: 7.14286rem!important;
        padding-right: 7.14286rem!important;
    }
    .benefit_list_visibility {
        visibility: hidden;
    }
    .logo-content {
        text-align: right !important;
    }
    .d-flex-desktop {
        display: flex;
    }
    .g-mr-40-desktop {margin-right: 2.85714rem!important;}
}

@media (max-width: 991px) {
    .benefit_list_visibility {
        display: none;
    }
    .justify-mobile {
        text-align: justify;
    }
}

.bg-light-gray {
    background: #f4f8f8;
}

.g-color-black-custom {
    color: #3d3e3e;
}

.slide-customer .dot-slide-customer {
    display: none !important;
}

.g-left-custom-slide {
    left: -2.28571rem;
}

.g-right-custom-slide {
    right: -2.28571rem;
}

.b-radius {
    border-radius: 10px;
}

.list-qa {
    list-style: none;
    padding: 0;
}

.list-qa li {
    background-color: #ebebeb;
    margin-bottom: 10px;
    padding: 2px 5px 2px 15px;
    color: black;
}

.list-qa li a {
    color: black;
}

.g-top-75 {
    top: 5.64286rem;
}

.country-title {
    border-right: 2px solid #fbb82c;
}

.border-title-qa-container-top {
    border: 1px solid #f0f0f0;
    border-bottom: none;
}

.border-list-qa-container {
    border: 1px solid #f0f0f0 !important;
    border-top: none !important;
}

.border-list-qa {
    border-left: 3px solid transparent !important;
    padding-left: 15px;
}

.border-list-qa:hover {
    border-left: 3px solid #fbb82c !important;
}

.border-list-qa li:hover a {
    color: #fbb82c;
}

.bg-chuongtrinh {
    height: 170px;
    background-size: cover;
}

.bg-home-logo {
    height: 150px;
    background-size: cover;
}

.bg-home-nhanvien {
    height: 225px;
    background-size: cover;
}

.slide-customer-visa .slick-arrow {
    top: 50% !important;
    margin-top: -22px !important;
}
.slide-customer-visa img {
    width: 100%;
}

.container-title-ct {
    background: #f79423;
    position: relative;
    height: 64px;
}

.logo-content {
    text-align: center;
}

.icon-social {
    width: 30px;
    height: 34px;
    background: url('../img/social/social.png');
}

.facebook {
    background-position: -3px 0;
}

.linkedin {
    background-position: 28px 0;
}

.twitter {
    background-position: 79px 0;
}

.google {
    background-position: 132px 0;
}

.instagram {
    background-position: 180px 0;
}

.youtube {
    background-position: 229px 0;
}

.bg-customer {
    background: url('../img/bg-customer.png');
    background-color: #131a24;
    background-repeat: repeat-y;
}

.header-bg-customer {
    background: url('../img/header-bg-customer.png');
    background-color: #131a24;
    background-repeat: repeat-y;
}

.color-yellow-custom {
    color: #f7941d !important;
}

.rounded-circle-width {
    width: 175px;
    height: 175px;
    border: 5px solid #f7941d;
}

.rounded-circle {
    border-radius: 50%!important;
}

.partner {
    border: 1px solid #f7941d;
    background: #EAEAEA;
    padding: 15px;
}

.bg-team {
    background: url('../img/team.png');
    background-color: #131a24;
    background-repeat: repeat-y;
    background-size: cover;
}

.bg-link {
    border: 3px solid #f7941d;
    border-radius: 10px;
}

.bg-link a {
    text-decoration: none !important;
}

.bg-link a:hover {
    color: #f7941d !important;
}

.has-bg-image {
    position: relative;
}

.imagebg {
    left: 50%;
    width: 50%;
    opacity: 1;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 0;
    transition: opacity .4s;
}

.imagebg img {
    display: none;
    outline: 0;
    border: 0 none;
    max-width: 100%;
    height: auto;
    vertical-align: top;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.title_home {
    font-weight: 400;
    line-height: 1.4;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

.socialPanel {
    margin: 0px;
    padding: 5px;
    position: fixed;
    z-index: 100;
    min-width: 20px;
    border-radius: 0 3px 3px 0;
    right: 0;
    top: 35%;
    text-align: center;
    display: none;
}

.socialPanel a {
    margin-bottom: 6px;
    padding-bottom: 8px;
    display: block;
}
.list-button {padding-top: 17.14286rem!important;}
.content-about ul {padding-left: 1.42857rem!important;}
.social-about a {color: white;}
.content-duan ul {padding-left: 1.42857rem!important;}
.g-bg-primary-custom {background-color: rgb(15, 117, 188)!important;}
.slide-custom .slick-arrow {color: #0f75bc !important;}
.container-qa .u-accordion_header[aria-expanded=true] {
    color: #f7941d !important;
    border-left: 3px solid #fbb82c !important;
}
.qa_content img {max-width: 100%;}
.link-slide {padding: 7px 22px !important; border-color: rgb(0, 0, 0); border-radius: 30px; color: white; line-height: 26px; font-weight: 700; margin-right: 20px;}
.link-slide:hover {color: white !important;}
.mobile-css {margin-left: 30% !important;}
.mobile-css-85 {margin-left: 85% !important;}

/*.desktop-slide {margin-left: -125% !important; padding: 0 !important;}*/
/*
.desktop-slide {
    position: absolute !important;
    left: auto !important;
    right: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
@media (min-width: 1025px) {
    .desktop-slide {right: -15px !important}
}
@media (min-width: 1367px) {
    .desktop-slide {right: -35px !important}
}
@media (min-width: 1441px) {
    .desktop-slide {right: -40px !important}
}
@media (min-width: 1681px) {
    .desktop-slide {right: -70px !important}
}
@media (min-width: 1921px) {
    .desktop-slide {right: -340px !important}
}
*/

.row-center {justify-content: center}
.text-content img {max-width: 100%}
.text-content a > img {display: block}
@media (max-width: 767px) {
    .navbar-nav .dropdown-item {white-space: normal !important}
}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu .main-menu {
  display: none;
}

#tm:checked + .main-menu {
  display: block;
}

#menu input[type="checkbox"],
#menu ul span.drop-icon {
  display: none;
}

#menu li,
#toggle-menu {
  border-style: solid;
  border-color: rgba(0, 0, 0, .05);
}

#toggle-menu {
  border-width: 0 0 1px;
}

#menu .sub-menu {
  margin: 0 0;
  padding: 0 0 0 1em;
}

#menu .sub-menu li:last-child {
  border-width: 0;
}

#menu li,
#toggle-menu,
#menu a {
  position: relative;
  display: block;
  color: white;
}

#toggle-menu,
#menu a {
  padding: 7px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}

#menu a {
  transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;
}

#menu a:hover {
  text-decoration: none;
}

#menu .sub-menu {
  display: none;
}

#menu input[type="checkbox"]:checked + .sub-menu {
  display: block;
}

#toggle-menu .drop-icon,
#menu li label.drop-icon {
  position: absolute;
  right: 0;
  top: 1.25em;
}

#menu label.drop-icon, #toggle-menu span.drop-icon {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, .125);
  text-shadow: 0 0 0 transparent;
  color: rgba(255, 255, 255, .75);
}

#menu .drop-icon {
  line-height: 1;
}

@media only screen and (max-width: 64em) and (min-width: 52.01em) {
  #menu li {
    width: 33.333%;
  }

  #menu .sub-menu li {
    width: auto;
  }
}

@media only screen and (min-width: 52em) {
  #menu .main-menu {
    display: block;
  }

  #toggle-menu,
  #menu label.drop-icon {
    display: none;
  }

  #menu ul span.drop-icon {
    display: inline-block;
  }

  #menu li {
    float: left;
    border-width: 0 1px 0 0;
  }

  #menu .sub-menu li {
    float: none;
  }

  #menu .sub-menu {
    border-width: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12em;
    z-index: 3000;
  }

  #menu .sub-menu,
  #menu input[type="checkbox"]:checked + .sub-menu {
    display: none;
  }

  #menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
  }

  #menu li:hover > input[type="checkbox"] + .sub-menu {
    display: block;
  }
}

.sub-menu {border: none;}
.drop-icon:after {
    content: "\e900";
    font-family: "hs-icons" !important;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: inherit;
    background: transparent !important;
}
.rev_slider_wrapper, .g-overflow-hidden {max-height: 700px !important;}
.tp-parallax-wrap < .caption-desktop {top: 5% !important;}
.desktop-slide-left {left: 75% !important; }


.rev-slider-item-desktop .tp-parallax-wrap:last-child {left:auto !important; top: auto !important; right: 410px !important; bottom: 10px !important}
.rev-slider-item-desktop .tp-parallax-wrap:last-child .tp-loop-wrap,
.rev-slider-item-desktop .tp-parallax-wrap:last-child .tp-mask-wrap {position: static !important}
@media (max-width: 1300px) {
    .rev-slider-item-desktop .tp-kbimg-wrap {transform: none !important; height: auto !important; width: 100% !important}
    .rev-slider-item-desktop .tp-kbimg {width: 100% !important}
}
@media (min-width: 1450px) {
    .rev-slider-item-desktop .tp-parallax-wrap:last-child {right: 480px !important}
}
@media (min-width: 1650px) {
    .rev-slider-item-desktop .tp-parallax-wrap:last-child {right: 580px !important; bottom: 30px !important}
}
@media (min-width: 1921px) {
    .rev-slider-item-desktop .tp-parallax-wrap:last-child {right: 780px !important; bottom: 30px !important;}
}