.color_menu {
    color: #1b284f !important;
}

.color_title {
    color: #333333 !important;
}

.color_white {
    color: #fff !important;
}

.color_black {
    color: #740979 !important;
}

.backround_white {
    background-color: #fff !important;
}

.backround_transparent {
    background-color: transparent !important;
}

header {
    position: relative;
}

header.bdbt_menu {
    border-bottom: 2px solid #17254f;
}

header .navbar-fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    -webkit-box-shadow: 3px 1px 7px 1px #ccc;
    box-shadow: 3px 1px 7px 1px #ccc;
    background: rgba(255, 255, 255, 0.95) !important;
}

header .header_menu_item {
    background: #fff;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}

header .header_menu_item .container {
    max-width: 1280px;
}

header .header_menu_item .menu .navbar .navbar-collapse .navbar-nav li {
    position: relative;
    border: 2px solid transparent;
    margin-left: 5px;
}

header .header_menu_item .menu .navbar .navbar-collapse .navbar-nav li:hover a {
    color: #1b284f;
    text-shadow: 1px 0px 0px #1b284f;
}

header .header_menu_item .menu .navbar .navbar-collapse .navbar-nav li:hover .dropdown-menu .dropdown-item {
    color: #740979 !important;
}

header .header_menu_item .menu .navbar .navbar-collapse .navbar-nav li.active a {
    color: #1b284f;
    text-shadow: 1px 0px 0px #1b284f;
}

header .header_menu_item .menu .navbar .navbar-collapse .navbar-nav li a {
    text-align: center;
    text-transform: uppercase;
    color: #1b284f;
    font-size: 0.95rem;
}

header .header_menu_item .menu .navbar .navbar-collapse .navbar-nav li .dropdown-menu .dropdown-item {
    text-align: left;
    margin: 0px;
}

header .header_menu_item .menu .navbar .navbar-collapse .navbar-nav li.search_box {
    position: static;
}

header .header_menu_item .menu .navbar .navbar-collapse .navbar-nav li.search_box.show {
    border: 2px solid #ffbf00;
}

header .header_menu_item .menu .navbar .navbar-collapse .navbar-nav li.search_box.show a {
    color: #ffbf00;
}

header .header_menu_item .menu .navbar .navbar-collapse .navbar-nav li.search_box .search {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 70px;
    background: #17244b;
    left: 0;
    border-radius: 0;
}

header .header_menu_item .menu .navbar .navbar-collapse .navbar-nav li.search_box .search .dropdown-item:focus,
header .header_menu_item .menu .navbar .navbar-collapse .navbar-nav li.search_box .search .dropdown-item:hover {
    background: transparent;
}

header .header_menu_item .menu .navbar .navbar-collapse .navbar-nav li.search_box .search form {
    position: relative;
}

header .header_menu_item .menu .navbar .navbar-collapse .navbar-nav li.search_box .search form .btn_search {
    position: absolute;
    right: 0;
    top: 0;
    background: #ffbf00;
    border-radius: 0;
}

header .header_menu_item .menu .navbar .navbar-collapse .navbar-nav li.search_box .search form:focus {
    outline: none;
}

header .header_menu_item .menu .navbar .navbar-collapse .navbar-nav li.search_box .search form .form-control {
    border-radius: 0;
}

header .header_menu_item .menu .navbar .navbar-collapse .navbar-nav li.search_box .search form .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

header .header_menu_item .menu .navbar .navbar-collapse .navbar-nav li.dropdown_menu_box:hover .dropdown-menu {
    display: block;
}

header .header_menu_item .menu .navbar .navbar-collapse .navbar-nav li.dropdown_menu_box .nav-link::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

header .header_menu_item .menu .navbar .navbar-brand {
    width: 150px;
}

header .header_menu_item .logo_mobi {
    display: none;
}

header .slider {
    height: calc(100% - 80px);
    position: absolute;
    width: 100%;
}

header .slider .owl-carousel {
    height: 100%;
}

header .slider .owl-carousel .owl-stage-outer {
    height: 100%;
}

header .slider .owl-carousel .owl-stage-outer .owl-stage {
    height: 100%;
}

header .slider .owl-carousel .owl-stage-outer .owl-stage .owl-item {
    height: 100%;
}

header .slider .owl-carousel .owl-stage-outer .owl-stage .owl-item .item {
    height: 100%;
}

header .slider .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .bg_image_bg {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

header .slider .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .link_href {
    display: block;
    height: 100%;
    color: #740979;
}

header .slider .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .link_href .conten_slider {
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    width: 100%;
    background: rgba(232, 232, 232, 0.7803921569);
    text-align: center;
    max-width: 1000px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 30px 0px;
}

header .slider .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .link_href .conten_slider.conten_slider_home {
    background: transparent;
}

header .slider .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .link_href .conten_slider .home_silder {
    padding: 30px 25px;
    background: rgba(232, 232, 232, 0.7803921569);
    color: #1b284f;
    text-transform: uppercase;
    font-size: 2.5rem;
}

header .slider .owl-carousel .owl-dots {
    position: absolute;
    bottom: 0;
    right: 20px;
    text-align: center;
}

header .slider .owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    cursor: pointer;
}

header .slider .owl-carousel .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 5px 3px;
    display: block;
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
    border-radius: 30px;
    border: 3px solid #ccc;
}

header .slider .owl-carousel .owl-dots .owl-dot.active span {
    background: #ccc;
}

header .slider .owl-carousel .owl-nav .owl-prev,
header .slider .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #ffbf00;
    color: #fff;
    font-size: 2rem;
    opacity: 0.1;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

header .slider .owl-carousel .owl-nav .owl-prev:hover,
header .slider .owl-carousel .owl-nav .owl-next:hover {
    opacity: 1;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

header .slider .owl-carousel .owl-nav .owl-prev {
    left: 40px;
}

header .slider .owl-carousel .owl-nav .owl-next {
    right: 30px;
}

header .slider.slider-news .conten_slider {
    max-width: 100% !important;
    background: transparent;
    text-align: left !important;
}

header .slider.slider-news .conten_slider .title {
    font-size: 1.5rem;
    font-weight: bold;
}

header .slider.slider-news .conten_slider .des {
    font-size: 1rem;
}

header .introduce_header {
    height: calc(100% - 80px);
    position: absolute;
    width: 100%;
    bottom: 0;
}

header .introduce_header .bg_introduce {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

header .header_contact {
    position: relative;
    height: 300px;
}

header .header_contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(23, 36, 75, 0.65);
    z-index: 1;
}

header .header_contact .bg_header_contact {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header .header_contact .title_contact {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 2;
}

header .header_contact .title_contact .title_contact_text {
    color: #fff;
    font-weight: bold;
}

header .header_page_settled {
    height: calc(100% - 80px);
    position: absolute;
    width: 100%;
    bottom: 0;
}

header .header_page_settled .bg_settled_header {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

header .title_header {
    position: absolute;
    bottom: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    text-align: center;
}

header .title_header.title_header_h50pt {
    height: 50%;
}

header .title_header .container {
    max-width: 1000px;
    width: 100%;
}

header .title_header .container .title_header_inner {
    padding: 30px 25px;
    background: rgba(232, 232, 232, 0.7803921569);
    color: #1b284f;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.settled.ops1 .box-settled {
    background: #fff;
}

.settled.ops1 .box-settled:hover .settled_images .item_image {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}

.settled.ops1 .box-settled:hover .settled_images .item_image::before {
    background: rgba(22, 36, 76, 0.76);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.settled.ops1 .box-settled .conten_settled {
    height: 100%;
    text-align: center;
}

.settled.ops1 .box-settled .conten_settled .title {
    text-transform: uppercase;
}

.settled.ops1 .box-settled .conten_settled .list ul {
    list-style: none;
    padding-left: 0;
}

.settled.ops1 .box-settled .conten_settled .list ul li {
    border-bottom: 1px solid #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.settled.ops1 .box-settled .conten_settled .list ul li a {
    color: #333333;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
}

.settled.ops1 .box-settled .settled_images {
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.settled.ops1 .box-settled .settled_images .item_image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.settled.ops1 .box-settled .settled_images .item_image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.settled.ops1 .box-settled .settled_images .title {
    position: absolute;
    bottom: 0;
    font-size: 3rem;
    font-weight: bold;
    left: 10px;
    text-transform: uppercase;
    color: #fff;
}

.settled.ops2 .box-settled .list-settled {
    list-style: none;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 450px;
    background: #fff;
    margin-bottom: 0;
    overflow: hidden;
}

.settled.ops2 .box-settled .list-settled li.hover_img {
    width: calc(100% / 3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    position: relative;
}

.settled.ops2 .box-settled .list-settled li.hover_img::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.settled.ops2 .box-settled .list-settled li.hover_img:hover {
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    width: calc(100%/1);
}

.settled.ops2 .box-settled .list-settled li.hover_img:hover::before {
    background: rgba(22, 36, 76, 0.59);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.settled.ops2 .box-settled .list-settled li.hover_img:hover .conten_settled {
    display: block;
    bottom: 0;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}

.settled.ops2 .box-settled .list-settled li.hover_img:hover .title-settled {
    color: rgba(204, 204, 204, 0.44);
}

.settled.ops2 .box-settled .list-settled li.hover_img .conten_settled {
    padding-top: 30px;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    bottom: -900px;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    width: 100%;
    max-width: 500px;
    left: calc(50% - 10px);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0px 10px;
    overflow-y: auto;
}
.settled.ops2 .box-settled.box_notsroll .list-settled li.hover_img .conten_settled {
    overflow-y: hidden;
}

.settled.ops2 .box-settled .list-settled li.hover_img .conten_settled::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    background-color: transparent; }
.settled.ops2 .box-settled .list-settled li.hover_img .conten_settled::-webkit-scrollbar {
    width: 5px;
    background-color: transparent; }
.settled.ops2 .box-settled .list-settled li.hover_img .conten_settled::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #1b284f; }
.settled.ops2 .box-settled .list-settled li.hover_img .conten_settled .title {
    color: #fff;
    margin-bottom: 8px;
}

.settled.ops2 .box-settled .list-settled li.hover_img .conten_settled .list {
    height: 290px;
    overflow: hidden;
}

.settled.ops2 .box-settled .list-settled li.hover_img .conten_settled .list ul {
    list-style: none;
}

.settled.ops2 .box-settled .list-settled li.hover_img .conten_settled .list ul li {
    padding: 10px 0px;
    border-bottom: 1px dashed #fff;
}

.settled.ops2 .box-settled .list-settled li.hover_img .conten_settled .list ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.settled.ops2 .box-settled .list-settled li.hover_img:nth-child(1) .title-settled {
    left: -60px;
}

.settled.ops2 .box-settled .list-settled li.hover_img:nth-child(2) .title-settled {
    left: -60px;
}

.settled.ops2 .box-settled .list-settled li.hover_img:nth-child(3) .title-settled {
    left: -60px;
}

.settled.ops2 .box-settled .list-settled li.hover_img .title-settled {
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    bottom: 160px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: auto;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}

.europe .settled_page_row2 {
    background: rgba(232, 232, 232, 0.7803921569);
    padding: 1px 0px 40px;
}

.europe .settled_page_row2 .settled_introduce_conten .bg_media .media .media_img {
    width: 120px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px !important;
}

.europe .settled {
    border-bottom: 0;
    background: #fff;
}

.news_workshop_item:last-child {
    display: none;
}

.news_workshop_item .news_workshop_inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.news_workshop_item .news_workshop_inner:hover .news_workshop_img {
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}

.news_workshop_item .news_workshop_inner .news_workshop_img {
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}

.news_workshop_item .news_workshop_inner .content_news_workshop {
    background: #F6F7F2;
    padding: 10px 20px;
    height: 100%;
}

.iam {
    background: rgba(23, 36, 74, 0.12);
    padding-top: 25px;
}

.iam.iam_page {
    background: #fff;
    padding-top: 0;
}

.iam.iam_page .project_page {
    height: 100%;
}

.iam.iam_page .project_page:hover .title {
    font-weight: bold;
    text-decoration: underline;
}

.iam.iam_page .project_page .project_page_row3 .media_image {
    width: 60px !important;
    padding: 10px !important;
}

.iam.iam_page .project_page .project_page_row3.project_page_iam {
    background: transparent;
    padding: 20px;
}

.iam.iam_page .project_page .project_page_row3.project_page_iam .condition_item .media {
    border-color: #17244b;
    border-left: 5px solid;
}

.iam.iam_page .project_page .project_page_row3.project_page_iam .condition_item .media .media_image {
    width: 60px;
    padding: 10px;
}

.iam.iam_page .row_record_reviews {
    margin-top: 40px;
}

.iam.iam_page .row_record_reviews .form-control {
    height: 45px;
    font-size: 20px;
}

.iam.iam_page .row_record_reviews .form-group .control-label {
    text-align: inherit !important;
}

.iam.iam_page .row_record_reviews .irs {
    height: 70px;
}

.iam.iam_page .row_record_reviews .irs-line {
    height: 3px;
    top: 33px;
    background: #e1e4e9;
}

.iam.iam_page .row_record_reviews .irs-slider.single {
    background: #1b284f;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 30px;
    cursor: pointer;
}

.iam.iam_page .row_record_reviews .irs-min {
    left: -8px;
}

.iam.iam_page .row_record_reviews .irs-max {
    right: -8px;
}

.iam.iam_page .row_record_reviews .irs-from,
.iam.iam_page .row_record_reviews .irs-to,
.iam.iam_page .row_record_reviews .irs-single {
    font-size: 18px;
    background-color: #1b284f;
    cursor: pointer;
}

.iam.iam_page .row_record_reviews .irs-from::after,
.iam.iam_page .row_record_reviews .irs-to::after,
.iam.iam_page .row_record_reviews .irs-single::after {
    border-top-color: #1b284f !important;
}

.iam.iam_page .row_record_reviews .irs-min,
.iam.iam_page .row_record_reviews .irs-max {
    bottom: -2px;
    top: auto;
    visibility: visible !important;
    font-size: 18px;
}

.iam.iam_page .row_record_reviews .experience .irs-min::after,
.iam.iam_page .row_record_reviews .experience .irs-max::after {
    content: "Years";
    display: inline-block;
    padding-left: 3px;
}

.iam.iam_page .row_record_reviews .old .irs-min::after,
.iam.iam_page .row_record_reviews .old .irs-max::after {
    content: "Age";
    display: inline-block;
    padding-left: 3px;
}

.iam.iam_page .row_record_reviews .radio .radio_item {
    width: 100%;
    min-height: auto !important;
}

.iam.iam_page .row_record_reviews .radio .radio_item h6 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 25px;
}

.iam.iam_page .row_record_reviews .radio input[type="radio"] {
    display: none;
}

.iam.iam_page .row_record_reviews .radio input[type="radio"]+label {
    position: relative;
    display: inline-block;
    padding-left: 1.5em;
    margin-right: 2em;
    cursor: pointer;
    line-height: 1em;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.iam.iam_page .row_record_reviews .radio input[type="radio"]+label:before,
.iam.iam_page .row_record_reviews .radio input[type="radio"]+label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    font-family: Times;
    border-radius: 50%;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    right: 0;
    margin: auto;
}

.iam.iam_page .row_record_reviews .radio input[type="radio"]+label:before {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: inset 0 0 0 0.1em #c7c7c7, inset 0 0 0 1em white;
    box-shadow: inset 0 0 0 0.1em #c7c7c7, inset 0 0 0 1em white;
}

.iam.iam_page .row_record_reviews .radio input[type="radio"]+label:hover:before {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: inset 0 0 0 0.3em white, inset 0 0 0 1em #c6c6c6;
    box-shadow: inset 0 0 0 0.3em white, inset 0 0 0 1em #c6c6c6;
}

.iam.iam_page .row_record_reviews .radio input[type="radio"]:checked+label:before {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: inset 0 0 0 4px white, inset 0 0 0 20px #1b284f;
    box-shadow: inset 0 0 0 4px white, inset 0 0 0 20px #1b284f;
}

.iam.iam_page .row_record_reviews .radio input[type="checkbox"] {
    display: none;
}

.iam .tab_iam {
    border-bottom: 0;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.iam .tab_iam::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #fff;
    bottom: 0;
    left: 0;
}

.iam .tab_iam .nav-item {
    margin-right: 5px;
    max-width: 250px;
}

.iam .tab_iam .nav-item .nav-link {
    padding: 15px;
    border: 0;
    position: relative;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    height: 100%;
}

.iam .tab_iam .nav-item .nav-link::before {
    content: "";
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    position: absolute;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: -4px;
}

.iam .tab_iam .nav-item .nav-link:hover {
    border: 0;
    cursor: pointer;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    background: #fff;
}

.iam .tab_iam .nav-item .nav-link:hover::before {
    background: rgba(204, 204, 204, 0.9);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    bottom: 0;
}

.iam .tab_iam .nav-item .nav-link:hover .iam_img {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    opacity: 1;
    background: #f1f1f1;
}

.iam .tab_iam .nav-item .nav-link.active {
    border: 0px;
    background: transparent;
    background: #fff;
    -webkit-box-shadow: 1px -1px 4px 0px #ccc;
    box-shadow: 1px -1px 4px 0px #ccc;
}

.iam .tab_iam .nav-item .nav-link.active::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background: rgba(204, 204, 204, 0.9);
    left: 0;
    bottom: 0;
}

.iam .tab_iam .nav-item .nav-link.active .iam_img {
    background: #f1f1f1;
    opacity: 1;
}

.iam .tab_iam .nav-item .nav-link.active h5 {
    font-weight: bold;
}

.iam .tab_iam .nav-item .nav-link .iam_img {
    background: #fff;
    width: 130px;
    height: 130px;
    overflow: hidden;
    opacity: .5;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    margin: auto;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50%;
    padding: 25px;
}

.iam .tab-content .iam_media_img {
    width: 460px;
    max-height: 301px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.iam .settled.ops2 .box-settled .list-settled {
    height: 500px;
}

.iam .settled.ops2 .box-settled .list-settled li.hover_img::before {
    background: rgba(0, 0, 0, 0.82);
}

.iam .settled.ops2 .box-settled .list-settled li.hover_img::before .conten_settled {
    max-width: 500px;
}

.iam .settled.ops2 .box-settled .list-settled li.hover_img:hover {
    width: calc(100%/1.5);
}

.iam .settled.ops2 .box-settled .list-settled li.hover_img .conten_settled {
    max-width: 400px;
    bottom: 0px;
}

.iam .settled.ops2 .box-settled .list-settled li.hover_img .conten_settled .list {
    overflow-y: auto;
    height: 300px;
}

.iam .settled.ops2 .box-settled .list-settled li.hover_img .conten_settled .list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    background-color: transparent;
}

.iam .settled.ops2 .box-settled .list-settled li.hover_img .conten_settled .list::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.iam .settled.ops2 .box-settled .list-settled li.hover_img .conten_settled .list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #1b284f;
}

.iam .project_page .project_page_row3 .condition_item .media .media-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.iam .kisucongnghe .settled.ops2 .box-settled .list-settled li.hover_img {
    -webkit-filter: grayscale(100%) !important;
    filter: grayscale(100%) !important;
}

.iam .kisucongnghe .settled.ops2 .box-settled .list-settled li.hover_img:nth-child(2) {
    width: 100%;
    -webkit-filter: grayscale(0%) !important;
    filter: grayscale(0%) !important;
}

.iam .kisucongnghe .settled.ops2 .box-settled .list-settled li.hover_img .conten_settled {
    max-width: 500px;
}

.iam .bacsi .settled.ops2 .box-settled .list-settled li.hover_img {
    width: 100%;
}

.box_advisory {
    min-height: 400px;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.box_advisory::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.79);
    z-index: 0;
}

.box_advisory .fm_advisory {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 40px 0px;
}

.box_advisory .fm_advisory .form_make {
    position: relative;
    z-index: 1;
}

.box_advisory .fm_advisory .form_make .form-group {
    position: relative;
    background: rgba(255, 255, 255, 0.78);
    margin: 15px 0px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.box_advisory .fm_advisory .form_make .form-group .form-control {
    border: 0;
}

.box_advisory .fm_advisory .form_make .form-group .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    border: 0px;
}

.box_advisory .fm_advisory .form_make .form-group.is-completed {
    margin-top: 30px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.box_advisory .fm_advisory .form_make .form-group label {
    position: absolute;
    top: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    left: 15px;
    font-size: 1rem;
    color: #740979;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 5px;
}

.box_advisory .fm_advisory .form_make .form-group label.lab_textarea {
    top: 0;
}

.box_advisory .fm_advisory .form_make .form-group input[type=text],
.box_advisory .fm_advisory .form_make .form-group select {
    height: 30px;
    position: relative;
    z-index: 1;
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    color: #740979;
}

.box_advisory .fm_advisory .form_make .form-group textarea {
    border-radius: 20px;
    padding-top: 10px;
    z-index: 1;
    background: transparent;
    position: relative;
    left: 15px;
    font-size: 20px;
    width: 100% !important;
}

.box_advisory .fm_advisory .form_make .form-group.is-active label,
.box_advisory .fm_advisory .form_make .form-group.is-active .mat-label,
.box_advisory .fm_advisory .form_make .form-group.is-completed label,
.box_advisory .fm_advisory .form_make .form-group.is-completed .mat-label {
    position: absolute;
    top: -28px;
    color: #fff;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background: #282a27;
    padding: 0px 10px;
    font-size: 1.2rem;
    left: 0;
    z-index: 2;
}

.news_page .left_news .media_img {
    width: 300px;
}

.news_page .right_news_row .card {
    position: relative;
    margin-bottom: 70px;
}

.news_page .right_news_row .card .card-body {
    position: absolute;
    background: #fff;
    bottom: -50px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin: auto;
    left: 0;
    right: 0;
    border-bottom: 1px solid #ccc;
}

.news_page .right_news_row .card .card-body .card-title {
    color: #740979;
    font-size: 1.2rem;
    text-align: center;
}

.head_news_right {
    border-bottom: 2px solid #590100;
}

.head_news_right a {
    display: inline-block;
    background: #590100;
    padding: 7px 15px;
    color: #fff;
    font-size: 1.2rem;
}

.workshop_page .card {
    border: 0;
}

.workshop_page .card .card-body {
    background: rgba(232, 232, 232, 0.7803921569);
}

.workshop_page .card .card-time {
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.workshop_page .card .card-time .day {
    font-size: 3rem;
    font-weight: bold;
    line-height: 0.7;
}

.workshop_page .card .card-time .month_year {
    font-size: 1.2rem;
}

.workshop_page .workshop_even .media .media_img {
    width: 180px;
    height: 181px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.workshop_page .workshop_even .media .media-body {
    color: #fff;
    background: #333;
    padding-left: 10px;
}

.workshop_page .workshop_even .media .media-body .title_date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.workshop_page .workshop_even .media .media-body .title_date .date {
    border-right: 2px solid #ffbf00;
    padding-right: 10px;
}

.workshop_page .workshop_even .media .media-body .title_date .date .day {
    font-size: 45px;
    display: block;
    text-align: center;
    color: #ffbf00;
    font-weight: bold;
}

.workshop_page .workshop_even .media .media-body .title_date .title {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 10px;
    font-size: 18px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-transform: uppercase;
}

.workshop_page a,
.news_page a {
    color: #740979;
}

.detail_news_workshop .media .media_img {
    width: 130px;
}

.detail_news_workshop .media .media-body .title {
    font-size: 1rem;
}

.detail_news_workshop .media .media-body .title a {
    color: #740979;
}

.height100pt {
    height: 100%;
}

.time_ {
    background: #17244b;
    padding: 2px 10px;
    display: inline-block;
}

.time_ a {
    color: #fff;
}

.contact_main .contact_list li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5px;
}

.contact_main .contact_list li .icon_contact {
    font-size: 1.5rem;
    -webkit-box-flex: 0.1;
    -ms-flex: 0.1;
    flex: 0.1;
    text-align: center;
    margin-right: 10px;
}

.contact_main .contact_list li .conten_contact {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    vertical-align: middle;
    font-size: 1.1rem;
}

.introduce_main .img_logo {
    max-width: 350px;
    margin: auto;
}

.introduce_main .img_logo img {
    width: 100%;
}

.introduce_main .project_page .project_page_row3 .condition_item .media .media-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-left: 5px solid #ff9700;
}

.introduce_main .vision_mission {
    position: relative;
    padding: 65px 0px;
}

.introduce_main .vision_mission::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 70%;
    background-image: url(../images/mark.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.introduce_main .vision_mission::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
}

.introduce_main .vision_mission .vision_mission_box {
    height: 100%;
    min-height: 300px;
    padding: 30px 25px;
    background: rgba(22, 36, 76, 0.62);
}

.introduce_main .vision_mission .container {
    position: relative;
    z-index: 2;
}

.manage {
    position: relative;
}

.manage .manage_box {
    height: 100%;
}

.manage .manage_box:hover .card .card-body {
    background: #16244c;
    color: #16244c;
    -webkit-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
}

.manage .manage_box:hover .card .card-footer {
    bottom: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.manage .manage_box .card {
    position: relative;
    height: 100%;
    overflow: hidden;
    width: 100%;
    border: 0;
    border-radius: 0;
}

.manage .manage_box .card .card-img-top {
    border-radius: 0;
}

.manage .manage_box .card .card-img-top {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.manage .manage_box .card .card-body {
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    padding: 10px 20px;
    border-left: 1px solid #ddd;
    background: #d4d4d4;
}

.manage .manage_box .card .card-body .card-title {
    margin-bottom: 0;
}

.manage .manage_box .card .card-body .card-text {
    font-size: 0.8rem;
}

.manage .manage_box .card .card-footer {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    overflow-y: scroll;
    background: rgba(22, 36, 76, 0.88);
}

.manage .manage_box .card .card-footer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    background-color: transparent;
}

.manage .manage_box .card .card-footer::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.manage .manage_box .card .card-footer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #1b284f;
}

.manage .manage_box .card .card-footer .media .manage_box_media_img_small {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
}

.manage .manage_box .card .card-footer .media .manage_box_media_img_small img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.settled_page .settled_introduce_box {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.settled_page .settled_page_row2 {
    background: rgba(232, 232, 232, 0.7803921569);
}

.settled_page .settled_page_row2 .settled_introduce_conten .bg_media {
    height: 100%;
    border: 1px solid #16244c;
}

.settled_page .settled_page_row2 .settled_introduce_conten .bg_media .media {
    height: 100%;
}

.settled_page .settled_page_row2 .settled_introduce_conten .bg_media .media .media_img {
    background: rgba(22, 36, 76, 0.93);
    width: 80px;
    height: 100%;
    padding: 10px;
}

.settled_page .settled_page_row2 .settled_introduce_conten .bg_media .media .media-body {
    margin-left: 10px;
    margin-top: 10px;
}

.settled_page .settled_page_row2 .settled_introduce_conten.my_eb5 .media .media_img {
    width: 120px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px !important;
}

.settled_page .settled_page_row2 .settled_introduce_conten.my_eb5 .condition {
    height: 100%;
    min-height: 250px;
    background: rgba(22, 36, 76, 0.93);
    padding: 30px 15px;
    -webkit-box-shadow: 3px 1px 9px 4px #ccc;
    box-shadow: 3px 1px 9px 4px #ccc;
}

.settled_page .settled_page_row3 {
    padding: 20px 0px 70px;
}

.settled_page .settled_page_row3 .settled_introduce_conten.benefit_eb5 .col-12 {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.settled_page .settled_page_row3 .settled_introduce_conten.benefit_eb5 .col-12:nth-child(2n+1) {
    background: #ccc;
}

.settled_page .settled_page_row3 .settled_introduce_conten.benefit_eb5 .col-12:nth-child(2n+2) {
    background: #dedcdc;
}

.settled_page .settled_page_row3 .settled_introduce_conten.benefit_eb5 .col-12:hover {
    background: #fff;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.settled_page .settled_page_row3 .settled_introduce_conten.benefit_eb5 .col-12 .card {
    background: transparent;
    border-radius: 0;
    border: 0;
    overflow: hidden;
}

.settled_page .settled_page_row3 .settled_introduce_conten.benefit_eb5 .col-12 .card:hover .card-footer {
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    bottom: 0;
}

.settled_page .settled_page_row3 .settled_introduce_conten.benefit_eb5 .col-12 .card .card-img-top {
    height: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.settled_page .settled_page_row3 .settled_introduce_conten.benefit_eb5 .col-12 .card .card-img-top img {
    margin: auto;
}

.settled_page .settled_page_row3 .settled_introduce_conten.benefit_eb5 .col-12 .card .card-footer {
    background: transparent;
    position: absolute;
    border-top: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    height: 100%;
    overflow-y: auto;
    bottom: -100%;
}

.settled_page .settled_page_row3 .settled_introduce_conten.benefit_eb5 .col-12 .card .card-footer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    background-color: transparent;
}

.settled_page .settled_page_row3 .settled_introduce_conten.benefit_eb5 .col-12 .card .card-footer::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.settled_page .settled_page_row3 .settled_introduce_conten.benefit_eb5 .col-12 .card .card-footer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #1b284f;
}

.settled_page .settled_page_timeline {
    background: rgba(0, 0, 0, 0.8117647059);
}

.settled_page .settled_page_timeline .timeline {
    bottom: 30px;
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.settled_page .settled_page_timeline .timeline .timeline_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1170px;
    margin: auto;
    border-radius: 30px;
}

.settled_page .settled_page_timeline .timeline .timeline_item li {
    list-style: none;
    position: relative;
    margin-left: 20px;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    min-height: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 210px;
    border-left: 2px solid #ffbf00;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}

.settled_page .settled_page_timeline .timeline .timeline_item li:hover .status {
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.settled_page .settled_page_timeline .timeline .timeline_item li:hover .status .status_boder {
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}

.settled_page .settled_page_timeline .timeline .timeline_item li:hover .status .status_boder::before {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 123, 0, 0.4)), color-stop(#fd7b00), to(rgba(255, 123, 0, 0.4)));
    background: -webkit-linear-gradient(left, rgba(255, 123, 0, 0.4), #fd7b00, rgba(255, 123, 0, 0.4));
    background: -o-linear-gradient(left, rgba(255, 123, 0, 0.4), #fd7b00, rgba(255, 123, 0, 0.4));
    background: linear-gradient(to right, rgba(255, 123, 0, 0.4), #fd7b00, rgba(255, 123, 0, 0.4));
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.settled_page .settled_page_timeline .timeline .timeline_item li:hover .detail {
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    -webkit-box-shadow: 2px 3px 13px 1px #979797;
    box-shadow: 2px 3px 13px 1px #979797;
}

.settled_page .settled_page_timeline .timeline .timeline_item li:last-child .detail {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
}

.settled_page .settled_page_timeline .timeline .timeline_item li:last-child .statusEND {
    right: -40px;
    width: 140px;
    height: 140px;
    bottom: -33px;
    left: auto;
}

.settled_page .settled_page_timeline .timeline .timeline_item li:last-child .statusEND span {
    font-size: 33px;
    right: 50px;
    left: auto;
    top: 35px;
}

.settled_page .settled_page_timeline .timeline .timeline_item li:last-child .statusEND .status_boder::before {
    left: -52px;
    bottom: 8px;
}

.settled_page .settled_page_timeline .timeline .timeline_item li:last-child .statusEND .status_boder::after {
    left: -45px;
    bottom: 15px;
}

.settled_page .settled_page_timeline .timeline .timeline_item li.timeline_item_bottom::before {
    background: transparent;
}

.settled_page .settled_page_timeline .timeline .timeline_item li::before {
    position: absolute;
    content: "";
    background: #ffbf00;
    width: 100%;
    height: 50px;
    bottom: 16px;
    z-index: 0;
}

.settled_page .settled_page_timeline .timeline .timeline_item li.background-color-168943::before {
    background: #263359;
}

.settled_page .settled_page_timeline .timeline .timeline_item li .status {
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    position: absolute;
    font-weight: bold;
    color: #263359;
    text-align: center;
    width: 100px;
    height: 100px;
    bottom: -5px;
    z-index: 1;
    left: -50px;
}

.settled_page .settled_page_timeline .timeline .timeline_item li .status .status_boder {
    position: relative;
    width: 100%;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    height: 100%;
}

.settled_page .settled_page_timeline .timeline .timeline_item li .status .status_boder::before {
    position: absolute;
    content: "";
    background: -webkit-gradient(linear, left top, right top, from(#263359), color-stop(rgba(22, 137, 67, 0.7607843137)), to(rgba(45, 148, 85, 0.3882352941)));
    background: -webkit-linear-gradient(left, #263359, rgba(22, 137, 67, 0.7607843137), rgba(45, 148, 85, 0.3882352941));
    background: -o-linear-gradient(left, #263359, rgba(22, 137, 67, 0.7607843137), rgba(45, 148, 85, 0.3882352941));
    background: linear-gradient(to right, #263359, rgba(22, 137, 67, 0.7607843137), rgba(45, 148, 85, 0.3882352941));
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -6px;
    border-radius: 50%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-box-shadow: 0px 0px 4px 1px #740979;
    box-shadow: 0px 0px 4px 1px #740979;
}

.settled_page .settled_page_timeline .timeline .timeline_item li .status .status_boder::after {
    position: absolute;
    content: "";
    width: 90%;
    height: 90%;
    background: #fff;
    border-radius: 50%;
    left: 5px;
    bottom: -1px;
}

.settled_page .settled_page_timeline .timeline .timeline_item li .status span,
.settled_page .settled_page_timeline .timeline .timeline_item li .status .number {
    position: absolute;
    bottom: -18px;
    left: 0;
    height: 100%;
    font-size: 50px;
    display: inline-block;
    width: 100%;
}

.settled_page .settled_page_timeline .timeline .timeline_item li .title {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

.settled_page .settled_page_timeline .timeline .timeline_item li .title::before {
    position: absolute;
    content: "";
    height: 85px;
    background-image: url(../images/right-arrow.png);
    background-size: contain;
    width: 100%;
    right: 40px;
    top: -33px;
    opacity: 0.3;
}

.settled_page .settled_page_timeline .timeline .timeline_item li .title .inner_title {
    font-size: 14px;
    color: #fff;
}

.settled_page .settled_page_timeline .timeline .timeline_item li .title .month_time {
    color: #ff9700;
}

.settled_page .settled_page_timeline .timeline .timeline_item li .title.title_month {
    bottom: -175px !important;
}

.settled_page .settled_page_timeline .timeline .timeline_item li .time {
    position: relative;
    height: 80%;
    bottom: 15px;
    font-size: 20px;
    left: 15px;
    font-weight: bold;
    color: #ff9700;
}

.settled_page .settled_page_timeline .timeline .timeline_item li .time::before {
    position: absolute;
    height: 60%;
    content: "";
    width: 2px;
    background: #263359;
    top: 2px;
    left: -15px;
}

.settled_page .settled_page_timeline .timeline .timeline_item li .detail {
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    padding: 5px 13px;
    position: relative;
    border-radius: 5px;
    border: 1px solid #ffbf00;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 80px;
    max-width: 300px;
    margin-left: -1px;
    display: inline-block;
    background: #fff;
}

.settled_page .settled_page_timeline .timeline .timeline_item li .detail .title_inner {
    font-weight: bold;
    color: #ff7b00;
    font-size: 17px;
}

.settled_page .settled_page_timeline .timeline .timeline_item_right_cong,
.settled_page .settled_page_timeline .timeline .timeline_item_right_congbottom {
    height: 0;
}

.settled_page .settled_page_timeline .timeline .timeline_item_right_cong::before {
    position: absolute;
    height: 287px;
    width: 110px;
    right: -103px;
    content: "";
    top: 151px;
    border-bottom-right-radius: 120px;
    border-top-right-radius: 120px;
    border: 50px solid #ffbf00;
    border-left: 0;
}

.settled_page .settled_page_timeline .timeline .timeline_item_right_congbottom::before {
    position: absolute;
    height: 268px;
    width: 120px;
    left: -104px;
    content: "";
    bottom: 31px;
    border-bottom-left-radius: 120px;
    border-top-left-radius: 120px;
    border: 50px solid #ffbf00;
    border-right: 0;
}

.settled_page .settled_page_timeline .timeline .timeline_item_right {
    margin-left: -31px;
    position: relative;
    min-height: 210px;
}

.settled_page .settled_page_timeline .timeline .timeline_item_right .bg-transparent::before {
    background: transparent;
}

.settled_page .settled_page_timeline .timeline .timeline_item_right li {
    border-left: 0;
    border-right: 2px solid #ffbf00;
    margin-left: 0;
    margin-right: 20px;
}

.settled_page .settled_page_timeline .timeline .timeline_item_right li:last-child::before {
    background: #ffbf00;
}

.settled_page .settled_page_timeline .timeline .timeline_item_right li::before {
    background: #ffbf00;
}

.settled_page .settled_page_timeline .timeline .timeline_item_right li .status {
    right: -50px;
    left: auto;
}

.settled_page .settled_page_timeline .timeline .timeline_item_right li .title::before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    left: 40px;
    right: auto;
}

.settled_page .settled_page_timeline .timeline .timeline_item_right li .detail {
    float: right;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -1px;
}

.the_project.ops2.settled .box-settled .list-settled li.hover_img {
    width: calc(100% / 2);
}

.the_project.ops2.settled .box-settled .list-settled li.hover_img:hover .the_project_title {
    top: -100%;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.the_project.ops2.settled .box-settled .list-settled li .the_project_title {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    text-transform: uppercase;
    max-width: 550px;
    margin: auto;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.the_project.ops2.settled .box-settled .list-settled li .the_project_title .the_project_title_text {
    background: rgba(232, 232, 232, 0.7803921569);
    color: #1b284f;
    padding: 15px 0px;
}

.project_page.portugal .project_page_row2 .condition_item {
    padding-left: 0;
    margin-top: 30px;
}

.project_page.portugal .project_page_row2 .condition_item .media {
    height: 100%;
    background: rgba(255, 255, 255, 0.83);
    padding: 0;
}

.project_page.portugal .project_page_row2 .condition_item .media .media_image {
    height: 100%;
    width: 100px;
    background: rgba(23, 36, 75, 0.8509803922);
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.project_page.portugal .project_page_row2 .condition_item .media .media-body {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 8px;
}

.project_page.portugal .project_page_row3 .condition_item .media .media-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.project_page.portugal .project_page_row4 .condition_item .media {
    height: 100%;
    border: 1px solid #ffbf00;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 116px;
    background: rgba(0, 0, 0, 0.7882352941);
    padding: 0px 20px;
}

.project_page.portugal .project_page_row4 .condition_item .media .media_image {
    height: 100px;
    width: 100px;
    background: rgba(255, 191, 0, 0.3098039216);
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
}

.project_page.portugal .project_page_row4 .condition_item .media .media-body {
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 8px;
}

.project_page.daosip .project_page_row4 {
    padding: 0;
}

.project_page.daosip .project_page_row4 .col-12 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.project_page.daosip .project_page_row4 .condition_item {
    max-width: 800px;
    margin: auto;
}

.project_page.daosip .project_page_row4 .condition_item .media {
    height: 100%;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.7882352941);
    padding: 5px 20px;
}

.project_page.daosip .project_page_row4 .condition_item .media .media_image {
    height: 100px;
    width: 100px;
    background: rgba(255, 191, 0, 0.3098039216);
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
}

.project_page.daosip .project_page_row4 .condition_item .media .media-body {
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 8px;
}

.project_page.daosip .settled_page_sip {
    background: rgba(0, 0, 0, 0.8117647059);
    color: #fff;
    padding-bottom: 40px;
}

.project_page.daosip .settled_page_sip .circle {
    border-radius: 50%;
    z-index: 2;
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto;
}

.project_page.daosip .settled_page_sip .circle .status_boder {
    position: relative;
    width: 100%;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    height: 100%;
}

.project_page.daosip .settled_page_sip .circle .status_boder::before {
    position: absolute;
    content: "";
    background: -webkit-gradient(linear, left top, right top, from(#263359), color-stop(rgba(22, 137, 67, 0.7607843137)), to(rgba(45, 148, 85, 0.3882352941)));
    background: -webkit-linear-gradient(left, #263359, rgba(22, 137, 67, 0.7607843137), rgba(45, 148, 85, 0.3882352941));
    background: -o-linear-gradient(left, #263359, rgba(22, 137, 67, 0.7607843137), rgba(45, 148, 85, 0.3882352941));
    background: linear-gradient(to right, #263359, rgba(22, 137, 67, 0.7607843137), rgba(45, 148, 85, 0.3882352941));
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -6px;
    border-radius: 50%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-box-shadow: 0px 0px 4px 1px #740979;
    box-shadow: 0px 0px 4px 1px #740979;
}

.project_page.daosip .settled_page_sip .circle .status_boder::after {
    position: absolute;
    content: "";
    width: 90%;
    height: 90%;
    background: #fff;
    border-radius: 50%;
    left: 5px;
    bottom: -1px;
}

.project_page.daosip .settled_page_sip .circle .number {
    color: #1b284f;
    position: absolute;
    bottom: -18px;
    left: 0;
    height: 100%;
    font-size: 50px;
    display: inline-block;
    width: 100%;
    z-index: 1;
    font-weight: bold;
}

.project_page.daosip .settled_page_sip .how-it-works.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.project_page.daosip .settled_page_sip .how-it-works.row .col-timeline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.project_page.daosip .settled_page_sip .how-it-works.row .col-timeline::after {
    content: '';
    position: absolute;
    border-left: 3px solid #fff;
    z-index: 1;
}

.project_page.daosip .settled_page_sip .how-it-works.row .col-timeline.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
}

.project_page.daosip .settled_page_sip .how-it-works.row .col-timeline.full::after {
    height: 100%;
    left: calc(50% - 3px);
}

.project_page.daosip .settled_page_sip .how-it-works.row .col-timeline.top::after {
    height: 50%;
    left: 50%;
    top: 0;
}

.project_page.daosip .settled_page_sip .timeline div {
    padding: 0;
    height: 40px;
}

.project_page.daosip .settled_page_sip .timeline hr {
    border-top: 3px solid #fff;
    margin: 0;
    top: 17px;
    position: relative;
}

.project_page.daosip .settled_page_sip .timeline .col-timeline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.project_page.daosip .settled_page_sip .timeline .corner {
    border: 3px solid #fff;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.project_page.daosip .settled_page_sip .timeline .top-right {
    left: 50%;
    top: -50%;
}

.project_page.daosip .settled_page_sip .timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
}

.project_page.daosip .settled_page_sip .timeline .top-left {
    left: -50%;
    top: -50%;
}

.project_page.daosip .settled_page_sip .timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
}

.project_page.project_page_Up_visa .settled_page .settled_page_row3 .settled_introduce_conten.benefit_eb5 .col-12:nth-child(2n+1) {
    background: rgba(204, 204, 204, 0.74);
}

.project_page.project_page_Up_visa .settled_page .settled_page_row3 .settled_introduce_conten.benefit_eb5 .col-12:nth-child(2n+2) {
    background: rgba(222, 220, 220, 0.9019607843);
}

.project_page.project_page_Up_visa .project_page_row3_start_up.project_page_row3 .condition_item .media {
    border: 1px solid #17244b;
    border-left: 10px solid #17244b;
}

.project_page .project_page_intro_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 200px;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.project_page .project_page_row1 {
    padding: 70px 0px 120px;
}

.project_page .project_page_row1 .project_page_intro .text {
    max-width: 900px;
    width: 100%;
    margin: auto;
}

.project_page .project_page_row2 {
    background-size: cover;
    background-attachment: fixed;
}

.project_page .project_page_row2 .project_page_boder {
    border: 1px solid #ffffff;
    background: rgba(255, 191, 0, 0.1882352941);
}

.project_page .project_page_row2 .condition_item {
    padding-left: 30px;
}

.project_page .project_page_row2 .condition_item .media {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
    padding: 7.5px 0px;
}

.project_page .project_page_row2 .condition_item .media .media_image {
    width: 60px;
    padding: 5px;
}

.project_page .project_page_row3 {
    padding: 120px 0px;
    background: #f5f5f5;
}

.project_page .project_page_row3 .condition_item .media {
    height: 100%;
    border: 1px solid #ffbf00;
    background: #fff;
    -webkit-box-shadow: 9px 8px 1px #ccc;
    box-shadow: 9px 8px 1px #ccc;
}

.project_page .project_page_row3 .condition_item .media .media_image {
    height: 100%;
    width: 100px;
    background: #1b284f;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.project_page .project_page_row3 .condition_item .media .media-body {
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 8px;
}

.project_page .project_page_row4 {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    padding: 50px 0px;
}

.project_page .project_page_row4 .topic-body-list {
    background: rgba(255, 191, 0, 0.2392156863);
}

.project_page .project_page_row4 .topic-body-list .topic-body-item1 {
    border-bottom: 1px solid #ffbf00;
}

.project_page .project_page_row4 .topic-body-list .topic-body-item1 .body {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.project_page .project_page_row4 .topic-body-list .topic-body-item2 {
    position: relative;
    padding: 0px 20px;
}

.project_page .project_page_row4 .topic-body-list .topic-body-item2::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    left: 50%;
    background: #ffbf00;
    top: 0;
}

.project_page .project_page_row5 .location_project .conten_location_project {
    background: #7b7b7b;
    height: 100%;
    color: #fff;
}

.eb5_list_menu_main {
    padding: 20px;
    background: rgba(232, 232, 232, 0.7803921569);
    -webkit-box-shadow: 3px 3px 9px #e2dbdb;
    box-shadow: 3px 3px 9px #e2dbdb;
}

.eb5_list_menu_main ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.eb5_list_menu_main ul li {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    padding-right: 10px;
}

.eb5_list_menu_main ul li:last-child::before {
    width: 0;
}

.eb5_list_menu_main ul li::before {
    content: "";
    position: absolute;
    height: 70%;
    width: 2px;
    background: #740979;
    right: 0;
    top: 4px;
}

.eb5_list_menu_main ul li a {
    color: #740979;
}

.eb5_list_menu_main ul li .text_inner {
    margin-bottom: 0;
}

.header_title_box {
    text-align: center;
}

.header_title_box .header_title {
    position: relative;
    display: inline-block;
}

.header_title_box .header_title::before {
    height: 1px;
    bottom: -5px;
    background: rgba(204, 204, 204, 0.9);
}

.header_title_box .header_title::after {
    width: 20%;
    height: 5px;
    bottom: -7px;
    background: #d5d5d5;
}

.header_title_box .header_title::after,
.header_title_box .header_title::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin: auto;
}

.more_news .more {
    display: inline-block;
    padding: 5px 20px;
    color: #1b284f;
    border: 1px solid #1b284f;
    font-size: 1rem;
    text-decoration: none;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.more_news .more:hover {
    background: #1b284f;
    color: #fff;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.more_news .btn {
    background: #1b284f;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    border-radius: 0px;
}

.more_news .btn:hover {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-box-shadow: 0px 0px 10px -1px #ccc;
    box-shadow: 0px 0px 10px -1px #ccc;
}

.list_project_box {
    background: #333;
}

.list_project_box.list_iam .list_project_item li {
    width: calc(100% / 5);
    height: 280px;
}

.list_project_box.list_iam .list_project_item li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    background: #ffbf00;
    bottom: 0;
    z-index: 1;
}

.list_project_box.list_iam .list_project_item li.active::before {
    background: #1b284f;
}

.list_project_box .list_project_item {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.list_project_box .list_project_item li {
    display: inline-block;
    width: 360px;
    height: 116px;
    position: relative;
    overflow: hidden;
}

.list_project_box .list_project_item li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.list_project_box .list_project_item li.active .bg_project {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.list_project_box .list_project_item li a {
    display: block;
    height: 100%;
    color: #1b284f;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.list_project_box .list_project_item li a .bg_project {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.list_project_box .list_project_item li a .title_project {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.list_project_box .list_project_item li a .title_project .text {
    background: rgba(245, 245, 245, 0.9);
    display: inline-block;
    padding: 5px 10px;
}

footer .contact {
    background: #333333;
}

footer .contact .row {
    margin: 0 -10px;
}

footer .contact .row .col-12 {
    padding: 0 10px;
}

footer .contact .contact_list li {
    position: relative;
}

footer .contact .contact_list li .icon_contact {
    position: absolute;
    font-size: 1.3rem;
}

footer .contact .item_logo.item_logo1 .icon_inner {
    background: #FF9800;
}

footer .contact .item_logo.item_logo2 .icon_inner {
    background: #1b284f;
}

footer .contact .item_logo.item_logo3 .icon_inner {
    background: #29487d;
}

footer .contact .item_logo a {
    display: block;
}

footer .contact .item_logo a:hover {
    text-decoration: none;
}

footer .contact .item_logo a .icon_inner {
    font-size: 1.3rem;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

footer .contact .item_logo a .title_inner {
    display: inline-block;
    font-size: 1rem;
}

footer .contact .item_logo a .title_inner.phone {
    font-size: 1.5rem;
}

.pagination_nav {
    display: inline-block;
}

.settled_page_1 .settled_page_timeline {
    background: #fff;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec {
    position: relative;
    background: #fff;
    position: relative;
}

@media screen and (max-width: 767px) {
    .settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline {
        margin: 130px 0 !important;
        border-left: 2px solid #348e80;
        padding-left: 0 !important;
        border-top: 0 !important;
        margin-left: 25px !important;
        display: block !important;
    }
    .settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline {
        height: 220px;
        float: none !important;
        width: inherit !important;
    }
    .settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline::before {
        display: none;
    }
    .settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(1) .ps-top {
        border-color: #6f7b91;
    }
    .settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(2) .ps-top {
        border-color: #8dc8cc;
    }
    .settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(3) .ps-top {
        border-color: #f2c43a;
    }
    .settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(4) .ps-top {
        border-color: #ec6b5c;
    }
    .settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(5) .ps-top {
        border-color: #a1c7a2;
    }
    .settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(6) .ps-top {
        border-color: #a184ba;
    }
    .settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(7) .ps-top {
        border-color: #6f7b91;
    }
    .settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline .line_bg {
        display: none;
    }
    .settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline span {
        display: none;
    }
    .settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline .img-handler-top {
        position: absolute !important;
        float: left !important;
        margin-left: 35px !important;
        margin-bottom: 0 !important;
        bottom: auto !important;
        left: -80px !important;
    }
    .settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline .img-handler-bot {
        position: absolute !important;
        float: left !important;
        margin-left: 35px !important;
        margin-bottom: 0 !important;
        left: -80px !important;
    }
    .settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline p {
        text-align: left !important;
        width: 100% !important;
        margin: 0 auto !important;
        margin-top: 0px !important;
    }
    .settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline .ps-top {
        width: 80% !important;
        float: right !important;
        right: 0;
        border: 1px solid red;
        padding: 10px;
        margin-bottom: 0 !important;
        bottom: 35% !important;
    }
    .settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline .ps-bot {
        width: 80% !important;
        float: right !important;
        right: 0;
        border: 1px solid red;
        padding: 10px;
        margin-bottom: 0 !important;
        bottom: 35% !important;
    }
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline {
    margin: 180px 0 294px;
    padding: 0;
    border-top: 2px solid #348e80;
    border-top: 2px solid transparent;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-top: 30px;
    position: relative;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline::before {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid #ffffff;
    top: 0;
    z-index: 1;
    right: 0px;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline .line_bg {
    position: absolute;
    width: calc(100% - 10px);
    height: 20px;
    content: "";
    top: 0;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid #ffffff;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(1) .line_bg {
    background: #6f7b91;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(1)::before {
    border-left: 10px solid #6f7b91;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(1) span.ps-sp:before {
    background: #6f7b91;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(1) .img-handler {
    background: #6f7b91;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(2) .line_bg {
    background: #8dc8cc;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(2)::before {
    border-left: 10px solid #8dc8cc;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(2) span.ps-sp:before {
    background: #8dc8cc;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(2) .img-handler {
    background: #8dc8cc;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(3) .line_bg {
    background: #f2c43a;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(3)::before {
    border-left: 10px solid #f2c43a;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(3) span.ps-sp:before {
    background: #f2c43a;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(3) .img-handler {
    background: #f2c43a;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(4) .line_bg {
    background: #ec6b5c;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(4)::before {
    border-left: 10px solid #ec6b5c;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(4) span.ps-sp:before {
    background: #ec6b5c;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(4) .img-handler {
    background: #ec6b5c;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(5) .line_bg {
    background: #a1c7a2;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(5)::before {
    border-left: 10px solid #a1c7a2;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(5) span.ps-sp:before {
    background: #a1c7a2;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(5) .img-handler {
    background: #a1c7a2;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(6) .line_bg {
    background: #a184ba;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(6)::before {
    border-left: 10px solid #a184ba;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(6) span.ps-sp:before {
    background: #a184ba;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(6) .img-handler {
    background: #a184ba;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(7) .line_bg {
    background: #6f7b91;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(7)::before {
    border-left: 10px solid #6f7b91;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(7) span.ps-sp:before {
    background: #6f7b91;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline:nth-child(7) .img-handler {
    background: #6f7b91;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline span {
    width: 10px;
    height: 10px;
    background: #fff;
    border: 4px solid #fff;
    border-radius: 50%;
    font-size: 0;
    font-style: normal;
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline span.ps-sp-top:before {
    content: '';
    width: 2px;
    height: 50px;
    position: absolute;
    top: -60px;
    left: 25%;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline span.ps-sp-bot:before {
    content: '';
    width: 2px;
    height: 50px;
    position: absolute;
    bottom: -55px;
    left: 0;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline .img-handler-top {
    bottom: 0;
    margin-bottom: 70px;
    position: absolute;
    margin-top: 40px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 13px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline .img-handler-top img {
    display: table;
    margin: 0 auto;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline .img-handler-bot {
    position: absolute;
    margin-top: 40px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 13px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline .img-handler-bot img {
    display: table;
    margin: 0 auto;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline p {
    margin: 0 auto;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline .ps-top {
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
    width: 100%;
}

.settled_page_1 .settled_page_timeline .ps-timeline-sec ol.ps-timeline .ps_item_timeline .ps-bot {
    position: absolute;
    margin-top: 35px;
    width: 100%;
}

.background_white {
    background: #fff !important;
}

.background_black {
    background: rgba(0, 0, 0, 0.8117647059) !important;
}

.timeline_image {
    max-width: 1280px;
    margin: auto;
}

.timeline_image img {
    width: 100%;
}

.sending {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    z-index: 999;
    background: rgba(0, 0, 0, 0.61);
    display: none;
}

.sending img {
    width: 70px;
}

.header_title_iam_page {
    background-color: #1b284f;
}

.other_tv {
    position: fixed;
    right: 0;
    background: #1b284f;
    width: 160px;
    height: 70px;
    text-align: center;
    bottom: 25%;
    z-index: 10;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.other_tv:hover {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-box-shadow: -8px 13px 1px 5px #ccc;
    box-shadow: -8px 13px 1px 5px #ccc;
}

.other_tv a {
    color: #fff;
    display: block;
    height: 100%;
}

.other_tv a:hover {
    text-decoration: none;
}

.big_title .img_title {
    position: relative;
    margin-bottom: 10px;
}

.big_title .title_detail_ {
    position: absolute;
    bottom: 0;
    padding: 10px;
    color: #fff;
    width: 100%;
}

.big_title .title_detail_::before {
    content: "";
    background: -webkit-gradient(linear, left top, left bottom, from(#ff000000), to(#17244b));
    background: -webkit-linear-gradient(#ff000000, #17244b);
    background: -o-linear-gradient(#ff000000, #17244b);
    background: linear-gradient(#ff000000, #17244b);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.title_inner {
    position: relative;
}

ul.tag {
    padding:  0;
    list-style:  none;
}

ul.tag li {
    display:  inline-block;
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px 10px;
    background: #aba4a4;
    border-radius: 8px;
    font-size:  80%;
    min-width:  10%;
    margin-bottom: 8px;
    text-align:  center;
}
ul.tag li a{
    color: #fff;
    display: block;

}
ul.tag li:hover a{
    text-decoration: underline;
}
.big_title .img_title .images {
    width:  100%;
    height:  310px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
li.pstate {
    background: rgb(23, 36, 75);
    margin:  1px;
    transition:  all .5s;
    border:  1px solid #fff;
}

li.pstate a {
    color:  #fff;
    display:  block;
    padding: 4px 13px;
}

li.pstate.active {
    background:  transparent;
    border: 1px solid rgb(23, 36, 75);
}

li.pstate:hover {
    border: 1px solid rgb(23,36,75);
    background:  transparent;
    transition: all .5s;
}

li.pstate:hover a {
    color:  rgb(23,36,75);
}

/*  */
.iam-1 .tab-content.current {
    display: inherit;
    margin-top: -1px;
    width: 90%;
}
.iam-1 ul.tabs {
    border-bottom: 0;
    position: relative;
    height: 100%;
    overflow: hidden;
    padding-left: 0;
}
.iam-1 ul.tabs::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #fff;
    bottom: 0;
    left: 0;
}
.iam-1 ul.tabs li {
    display: inline-block;
    cursor: pointer;
    padding: 15px;
    border: 0;
    position: relative;
    transition: all 1s;
    height: 100%;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.iam-1 ul.tabs li a:hover {
    text-decoration: none;
}
.iam-1 ul.tabs li.link_orther {
    padding: 0px;
}
.iam-1 ul.tabs li.link_orther a{
    display: block;
    padding: 15px;
}
.iam-1 ul.tabs li.current::before {
    content: "";
    transition: all 1s;
    position: absolute;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: -1px;
    background-color: rgba(204, 204, 204, 0.9);;
}
.iam-1 ul.tabs li:hover {
    border: 0;
    cursor: pointer;
    transition: all 1s;
    background: #fff;
}
.iam-1 ul.tabs li:hover::before {
    background: rgba(204, 204, 204, 0.9);
    transition: all 1s;
    bottom: -1px;
}
.iam-1 ul.tabs li::before {
    content: "";
    transition: all 1s;
    position: absolute;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: -4px;
}

.iam-1 ul.tabs li.current {
    border: 0px;
    background: transparent;
    background: #fff;
    box-shadow: 1px -1px 4px 0px #ccc;
}

.iam-1 ul.tabs {
    -webkit-margin-after: 0;
    margin-bottom: 0;
    width: 100% !important;
}

.iam-1 .tab-link a {
    color: #eee;
}

.iam-1 li.current a {
    color: #222;
}

.iam-1 .tab-content {
    display: none;
    margin: 0 0.5em 0.5em 0;
    padding-top: 15px;
}
@media (max-width: 991px) {

    .iam-1 ul.tabs {
        width: 35% !important;
        float: left;
    }
    .iam-1 .tab-content.current{
        width: 100%;
    }
    .tabsList{
        float: left;
        width: calc(100% - 35%);
    }
    .iam-1 ul.tabs li {
        display: block;
        margin-bottom: 5px;
    }
    .iam-1 ul.tabs li.current {
        border: 1px solid #ccc;
        border-bottom: 4px solid #ccc !important;
        border-radius: 5px 5px 0px 0px;
    }
    .iam-1 ul.tabs::before{
        background: transparent;
    }
    .iam-1 .tab-content {
        padding: 0;
        margin-left: 5px;
    }
    .iam-1 .tab-content.current::after {
        clear: both;
        content: "";
    }
    .iam-1 ul.tabs {
    }
    .iam-1 .tab-link a {
    }
    .iam-1 li.current a {
    }
    .iam-1 .tabsList .tab-content  .media{
        display: block;
        margin-bottom: 10px;
    }
    .iam-1 .tab-content .iam_media_img{
        width: 100%;
    }
}
