/*------------------------------------
  List Style Types
------------------------------------*/
.g-list-style-circle {
  list-style-type: circle; }

.g-list-style-disc {
  list-style-type: disc; }

.g-list-style-square {
  list-style-type: square; }

.g-list-style-lower-roman {
  list-style-type: lower-roman; }

.g-list-style-upper-roman {
  list-style-type: upper-roman; }

.g-list-style-lower-latin {
  list-style-type: lower-latin; }

.g-list-style-upper-latin {
  list-style-type: upper-latin; }
