/*------------------------------------
  Info Block v2-1
------------------------------------*/
.u-info-v2-1__item {
  height: 65px;
  -webkit-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out; }
  .u-info-v2-1__item:hover {
    height: 80px;
    margin-top: -15px; }
