/*------------------------------------
  Carousel indicators
------------------------------------*/
[class*="u-carousel-indicators"] {
  display: block;
  position: absolute;
  padding-left: 0;
  margin-bottom: 0; }
  [class*="u-carousel-indicators"] li {
    list-style: none; }
  [class*="u-carousel-indicators"] span {
    display: block;
    cursor: pointer; }
